<!--
 * @Author: r1ngo
 * @Date: 2022-03-25 16:17:27
 * @LastEditors: r1ngo
 * @LastEditTime: 2022-03-29 10:12:09
 * @Description: ez pz lemon squezzy
-->
<ion-header>
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="service.chatList">
    <ion-item
      class="li"
      mode="ios"
      *ngFor="let item of service.chatList; let i = index"
      [lines]="i >= service.chatList.length - 1 ? 'none' : 'inset'"
      (click)="toChat(item)"
    >
      <ion-avatar slot="start" class="avatar">
        <img [src]="item.avatar" />
      </ion-avatar>
      <ion-label class="label">
        <div class="title">
          <h2>{{ item.name }}</h2>
          <ion-label class="time" color="medium"
            >{{ item.time | date: 'HH:mm:ss' }}</ion-label
          >
        </div>
        <div class="content">
          <ion-label color="medium">{{ item.content }}</ion-label>
          <ion-icon
            class="banned"
            name="notifications-off-outline"
            color="medium"
            *ngIf="item.banned"
          ></ion-icon>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
