<!--
 * @Author: r1ngo
 * @Date: 2022-03-25 16:17:27
 * @LastEditors: r1ngo
 * @LastEditTime: 2022-03-26 11:19:00
 * @Description: ez pz lemon squezzy
-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>伪信</ion-title>
    <ion-icon
      class="head_icon"
      color="medium"
      slot="end"
      name="search-outline"
    ></ion-icon>
    <ion-icon
      class="head_icon"
      color="medium"
      slot="end"
      name="add-circle-outline"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="service.chatList">
    <ion-item
      class="li"
      *ngFor="let item of service.chatList; let i = index"
      [lines]="i >= service.chatList.length - 1 ? 'none' : 'inset'"
    >
      <ion-avatar slot="start" class="avatar">
        <img [src]="item.avatar" />
      </ion-avatar>
      <ion-label class="label">
        <!-- <ion-icon name="volume-mute-outline"></ion-icon> -->
        <div class="title">
          <h2>{{ item.name }}</h2>
          <p>{{ item.time | date: 'HH:mm:ss' }}</p>
        </div>
        <p class="msg">{{ item.content }}</p>
      </ion-label>
    </ion-item>
  </ng-container>
</ion-content>
