<!--
 * @Author: r1ngo
 * @Date: 2022-03-29 15:25:27
 * @LastEditors: r1ngo
 * @LastEditTime: 2022-03-29 15:27:42
 * @Description: ez pz lemon squezzy
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Moment</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon
          color="medium"
          slot="icon-only"
          name="camera-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> </ion-content>
